



*{
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-family:STKaiti;
    color: whitesmoke;
}
body{
    background-image: url(https://tse1-mm.cn.bing.net/th/id/R-C.019eaedcb929c3d1f1583bdad40cb57f?rik=maDqzkhkgwOTOg&riu=http%3a%2f%2fwww.desktx.com%2fd%2ffile%2fwallpaper%2fspace%2f20180521%2fecd078ae4ca55787f9e12f9b8aa2c746.jpg&ehk=AuXI6u7Foq7V3Npy0fYz7rOvs7Du7%2bwKp2zLmTdWdA8%3d&risl=&pid=ImgRaw&r=0);
/* 背景图 */

  

}
h1{
    font-size: 80px;
    position: absolute;
    top: 10px;
    left :50%;
    margin-left: -4em;
    color :#f40;
    /* 标题 */
}



img{
width: 800px;
margin:0 auto;
position:relative;
left: 50%;
margin-left: -400px;;
/* 图像 */

}

#all{
    border: 3px solid rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(255, 255, 255);
    position: absolute;
    left: 300px;    /* 边框距离左边的距离 */
    padding: 20px 200px 35px;
    margin: 7% 10px 10px 10px;

}
p{
  font-size: 28px;/* 文字大小 */
  font-weight: bolder;
  font-style: normal;
}
#zuo{
    position: absolute;
    right: 0%;
    color: #ff0000;
/* 结尾 */
}
#back{

    position: fixed;
    right: 0%;
    top: 90%;
    
    }
   #back a:hover{
        color: #f40;
        font-weight: bold;
    }