html {

    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    background-image: url(https://tse1-mm.cn.bing.net/th/id/R-C.65b1a6895aaf85346554ceec29e8ab61?rik=nOWxgavE5wKrbQ&riu=http%3a%2f%2fwww.51pptmoban.com%2fd%2ffile%2f2013%2f05%2f24%2fb7c485d26a6ebf2c7e51cb1df5fd52ae.jpg&ehk=7UP7buna65CrZWZAQiSR%2b%2bAUijYxmsEO%2fgo%2fm4RBOyo%3d&risl=&pid=ImgRaw&r=0);

  }


img {
  display: block;
  width: 450;
  margin: 0 auto;
}
body {
    width: 1000px;
    margin: 0 auto;
    background-image: url(https://tse1-mm.cn.bing.net/th/id/R-C.42c9869dc3ffd1a1b26de03dac3225fb?rik=7QCmz4PqLlbM9A&riu=http%3a%2f%2fimg.smzy.com%2fSoft%2fUploadPic%2f2016-8%2f20168201537231786.jpg&ehk=93h5e6clrRw06t6U7ceJTThrNmQwcN5jrbp9N7ILcYQ%3d&risl=&pid=ImgRaw&r=0);
    padding: 0 10px 10px 10px;
    border: 5px solid rgb(25, 16, 36);
  }

h1 {
  width: 1000px;

  font-size: 60px;
    margin: 0;
    padding: 20px 0;
    color: #dad604;
    text-align: center;
    text-shadow: 3px 3px 1px rgb(255, 254, 254);
  }

  
  p, li {
    color:rgba(206, 240, 53, 0.767);

    font-size: 20px;
  
    line-height: 2;
    letter-spacing: 1px;
  }

  a  {
      color: aliceblue;    
  }





